// Imports
@import "../Variables/backgrounds";

.about-container {
  display: flex;
  background-color: #b8e3ff;
  justify-content: center;
  align-items: flex-start;
  height: 90%;
  width: 100%;

  .items-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
    height: 20%;
    width: 85%;
    background-color: transparent;
    border-radius: 15px;
    list-style: none;
    padding: 0;

    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      height: 30%;
      width: 45%;
      border-radius: 10px;
    }
  }
}
